/**************************/
/* BELOW 1200px */
/**************************/

@media (max-width: 75em) {
  .card {
    width: 30%;
  }
}

/**************************/
/* BELOW 1050px */
/**************************/

@media (max-width: 66em) {
  .card {
    width: 35%;
  }
}

/**************************/
/* BELOW 980px */
/**************************/

@media (max-width: 62em) {
  .card {
    width: 40%;
  }
}

/**************************/
/* BELOW 875px */
/**************************/

@media (max-width: 55em) {
  .card {
    width: 45%;
  }
}

/**************************/
/* BELOW 715px */
/**************************/

@media (max-width: 45em) {
  .card {
    width: 50%;
  }
}

/**************************/
/* BELOW 620px */
/**************************/

@media (max-width: 39em) {
  .card {
    width: 62%;
  }
}

/**************************/
/* BELOW 530px */
/**************************/

@media (max-width: 33em) {
  .card {
    width: 74%;
  }
}

/**************************/
/* BELOW 430px */
/**************************/

@media (max-width: 27em) {
  .container {
    background-position: right 48vw bottom 40vh, left 20vw top 53vh;
  }
  .card {
    width: 85%;
  }
}

/**************************/
/* BELOW 370px */
/**************************/

@media (max-width: 23em) {
  .card {
    width: 95%;
  }
}
